* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: url(/images/rainvivid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#main {
  background-color: whitesmoke;
  width: 800px;
  margin: auto;
  padding: 0em 4em 4em;
  height: 80vh;
}
.headliner {
  float: left;
  margin: 0 5px 0 0;
}
#head h1 {
  font-family: cursive;
  color: white;
  font-size: 3em;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

label {
  display: block;
}
.headlinerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
}
/* #head {
  background: url(/images/rainbowveg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

#head {
  background-color: rgb(51, 0, 17);
  color: whitesmoke;
}
nav div {
  /* background-color: rgba(255, 255, 255, 0.7); */
  text-align: justify;
  display: inline-block;
  padding: 5px;
}

nav a {
  margin: 1em;
}
nav a:visited {
  color: whitesmoke;
}

form div {
  margin: 1em;
  display: inline-block;
}

#fridge .item {
  width: 250px;
  border: 3px solid darkgrey;
  border-radius: 5px;
  padding: 30px;
  margin: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 2em;
}

.instructions {
  text-align: justify;
  display: inline-block;
  padding: 20px 20px 30px 10px;
}

button {
  margin-bottom: 5%;
}
.itemBtn {
  border-radius: 4px;
  background-color: #f44336;
  color: cornsilk;
  size: 1em;
  padding: 3px;
  float: right;
}

button {
  color: rgb(51, 0, 17);
  padding: 5px;
}
