@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
}

li,
p,
div,
button {
  font-family: 'Jost', sans-serif;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: url(/images/rainvivid.jpg);
  background-repeat: repeat space;
  background-size: cover;
}

#main {
  background-color: whitesmoke;
  background-repeat: repeat;
  width: 700px;
  margin: auto;
  padding: 0em 4em 4em;
  background-attachment: fixed;
}

@media screen and (max-width: 800px) {
  #main {
    width: 90%;
    padding: 0em 1em 1em;
  }
}
.headliner {
  float: left;
  margin: 0 5px 0 0;
}
#head h1 {
  font-family: cursive;
  color: white;
  font-size: 3em;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.welcome {
  margin: 5%;
}

label {
  display: block;
}
.headlinerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
}
/* #head {
  background: url(/images/rainbowveg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

#head {
  background-color: rgb(51, 0, 17);
  color: whitesmoke;
}
nav div {
  /* background-color: rgba(255, 255, 255, 0.7); */
  text-align: justify;
  display: inline-block;
  padding: 5px;
}

nav a {
  margin: 1em;
}
nav a:visited {
  color: whitesmoke;
}

form div {
  margin: 1em;
  display: inline-block;
}

#fridge .item {
  width: 200px;
  border: 3px solid darkgrey;
  border-radius: 5px;
  padding: 30px;
  margin: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.2em;
}

.instructions {
  text-align: justify;
  display: inline-block;
  padding: 20px 20px 30px 10px;
}

.cook-instructions {
  text-align: justify;
  padding: 10px 20px 10px 10px;
}

.acct-details {
  border-top: 0.25mm solid gray;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.acct-details:hover {
  background: rgb(198, 196, 196);
}

button {
  background-color: rgb(51, 0, 17);
  color: whitesmoke;
  border-radius: 4px;
  font-size: 1em;
  padding: 10px 50px 10px 50px;
}

button:hover {
  background: rgb(141, 4, 63);
}

.edit {
  background: none;
  padding: none;
  border: none;
  color: rgb(25, 78, 175);
}

.edit:hover {
  background: none;
  padding: none;
  color: rgb(92, 133, 208);
}

.entice-btn {
  background-color: rgb(91, 12, 38);
  margin-top: 3%;
}

.itemBtn {
  /* background-color: #f44336;
  color: cornsilk; */
  size: 1em;
  padding: 3px;
  float: right;
}

.fridge-links {
  display: flex;
  justify-content: space-around;
}

.field {
  padding: 0.42857em;
  width: 80%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px transparent solid;
  font-size: 1em;
}

footer {
  background-color: rgb(62, 4, 28);
  margin-top: 0.02%;
  padding: 5%;
}

.alt1 {
  color: rgb(11, 38, 45);
}

.alt2 {
  color: rgb(36, 9, 45);
}
