@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
}

li,
p,
div,
button {
  font-family: 'Jost', sans-serif;
}

body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: url(/images/rainvivid.jpg);
  background-repeat: repeat space;
  background-size: cover;
}

#main {
  background-color: whitesmoke;
  background-repeat: repeat;
  width: 700px;
  margin: auto;
  padding: 0em 4em 4em;
  background-attachment: fixed;
  background-size: auto 100%;
  min-height: 500px;
}

@media screen and (max-width: 800px) {
  #main {
    width: 90%;
    padding: 0em 1em 1em;
  }
}
.headliner {
  float: left;
  margin: 0 5px 0 0;
}
#head h1 {
  font-family: cursive;
  color: white;
  font-size: 3em;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.welcome {
  margin: 5%;
}

label {
  display: block;
}
.headlinerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 8px;
  border-radius: 50%;
  background-color: white;
}
/* #head {
  background: url(/images/rainbowveg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} */

#head {
  background-color: rgb(51, 0, 17);
  color: whitesmoke;
}
nav div {
  /* background-color: rgba(255, 255, 255, 0.7); */
  text-align: justify;
  display: inline-block;
  padding: 5px;
}

nav a {
  margin: 1em;
}
nav a:visited {
  color: whitesmoke;
}

form div {
  margin: 1em;
  display: inline-block;
}

#fridge .item {
  width: 200px;
  border: 3px solid darkgrey;
  border-radius: 5px;
  padding: 30px;
  margin: 20px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.2em;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 1rem;
}

.recipe-card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.instructions {
  text-align: justify;
  display: inline-block;
  padding: 20px 20px 30px 10px;
}

.cook-instructions {
  text-align: justify;
  padding: 10px 20px 10px 10px;
}

.acct-details {
  border-top: 0.25mm solid gray;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.acct-details:hover {
  background: rgb(198, 196, 196);
}

button {
  background-color: rgb(152, 10, 72);
  color: whitesmoke;
  border-radius: 4px;
  font-size: 1em;
  padding: 10px 50px 10px 50px;
}

button:hover {
  background: rgb(141, 4, 63);
}

.edit {
  background: none;
  padding: none;
  border: none;
  color: rgb(25, 78, 175);
}

.edit:hover {
  background: none;
  padding: none;
  color: rgb(92, 133, 208);
}

.entice-btn {
  background-color: rgb(91, 12, 38);
  margin-top: 3%;
}

.itemBtn {
  /* background-color: #f44336;
  color: cornsilk; */
  size: 1em;
  padding: 3px;
  float: right;
}

.fridge-links {
  display: flex;
  justify-content: space-around;
}

.field {
  padding: 0.42857em;
  width: 80%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px rgb(62, 4, 28, 0.2) solid;
  font-size: 1em;
}

footer {
  background-color: rgb(62, 4, 28);
  margin-top: 0.02%;
  padding: 5%;
  color: rgb(172, 215, 185);
}

.alt1 {
  color: rgb(11, 38, 45);
}

.alt2 {
  color: rgb(36, 9, 45);
}

#help-icon {
  font-size: xx-large;
  display: flex;
  justify-content: left;
  width: 30px;
}

#help-icon:hover {
  color: rgb(177, 73, 91);
}

.alexa-icons {
  display: flex;
  justify-content: space-between;
}

#vol-icon {
  font-size: xx-large;
  width: 30px;
}

#vol-icon:hover {
  color: rgb(177, 73, 91);
}

#info-icon {
  font-size: xx-large;
  width: 30px;
}

#info-icon:hover {
  color: rgb(177, 73, 91);
}

.infotip {
  position: absolute;
  visibility: hidden;
  color: black;
  border: solid black;
  padding: 7px;
  margin: 5px;
  border-radius: 16px;
  font-size: 16px;
  width: 20%;
  background: rgb(243, 181, 192, 0.9);
  line-height: 20px;
  font-family: 'Jost', sans-serif;
  top: 24%;
  right: 4%;
}

#info-icon:hover .infotip {
  visibility: visible;
}

.tooltiptext {
  position: absolute;
  visibility: hidden;
  color: black;
  border: solid black;
  padding: 7px;
  margin: 5px;
  border-radius: 16px;
  font-size: 16px;
  width: 20%;
  background: rgb(243, 181, 192, 0.9);
  line-height: 20px;
  font-family: 'Jost', sans-serif;
  top: 24%;
  left: 4%;
}

#help-icon:hover .tooltiptext {
  visibility: visible;
}

.voice-help {
  background-color: rgb(209, 101, 121);
  border-radius: 16px;
  margin-bottom: 2%;
  padding: 10px 40px 10px 40px;
  height: 15%;
}
.voice-help:hover {
  background-color: rgb(206, 94, 114);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#countdown {
  padding: 10%;
}

.alert {
  padding: 20px;
  background-color: green;
  color: white;
  -webkit-animation: cssAnimation 2s forwards;
  animation: cssAnimation 2s forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.my-acct-extras {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  border-top: 0.25mm dotted gray;
}

.container {
  background-color: rgb(112, 222, 91);
  border-radius: 16px;
  margin-top: 5%;
  width: 100%;
  height: 50%;
  overflow: scroll;
  padding: 5%;
}

.grocery-list-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

.grocery-list-items:hover {
  background: rgb(63, 62, 62, 0.5);
  cursor: pointer;
}

.saved-scroll {
  background-color: rgb(123, 39, 92);
  color: white;
  border-radius: 16px;
  margin-top: 5%;
  width: 100%;
  height: 50%;
  overflow: scroll;
  padding: 5%;
}

.saved-recipes-items {
  list-style: none;
  cursor: pointer;
}

.saved-recipes-items li:hover {
  background: rgb(63, 62, 62, 0.5);
}

.saved-recipe-img {
  position: absolute;
  visibility: hidden;
  color: black;
  border: solid black;
  padding: 7px;
  margin: 5px;
  border-radius: 16px;
  font-size: 16px;
  background: rgb(243, 181, 192, 0.9);
  line-height: 20px;
  font-family: 'Jost', sans-serif;
}

li:hover .saved-recipe-img {
  visibility: visible;
  bottom: 6%;
}
